<?xml version="1.0"?>
<launch>

  <!--include file="$(find baxter_smacha)/launch/baxter_smacha_world.launch" /-->
 
  <node pkg="baxter_bt" type="spawn_models.py" name="spawn_models" />

  <node pkg="baxter_tools" type="enable_robot.py" name="enable_baxter" args="-e" />

  <node pkg="baxter_interface" type="joint_trajectory_action_server.py" name="joint_trajectory_action_server_node" />  

  <node pkg="baxter_interface" type="gripper_action_server.py" name="gripper_action_server_node" />  

</launch>
